body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}

section{
    text-align: center;
}

input{
    border: 1px solid gray;
    padding: 6px 10px;
    margin-bottom: 10px;
}